.graph-explorer {
  height: 100%;
}


.graph-explorer-header {
  border-bottom: 1px solid #cbcbcb;
  background: #efefef;
  height: 24px;
}

.graph-explorer-canvas {
  height: calc(100vh - 24px - 1px);
  position: relative;
  //background: #454545;
}
