.graphExplorer {
  height: 100%;
}

html, body {
  font-size: 14px;
}

$primaryColor: "#818561";

.graphExplorerHeader {
  border-bottom: 1px solid #cbcbcb;
  background: #efefef;
  height: 24px;
}

.graphExplorerFooter {
  border-top: 1px solid #cbcbcb;
  background: #efefef;
  height: 24px;
  font-size: 12px;

  ul {
    padding: 0;
    margin: 0;

    li {
      //padding: 0;
      display: inline-block;
      vertical-align: center;
      line-height: 24px;
      border-right: 1px solid #cbcbcb;
      color: #454545;
      padding: 0 10px;

      a {
        text-decoration: none;
        color: #454545;
      }

      a:hover {
        color: $primaryColor;
        background: $primaryColor;
      }


    }
  }
}

.graphExplorerCanvas {
  height: calc(100vh - 24px - 1px - 24px - 1px);
  position: relative;
  //background: #454545;
}

.graphExplorerElementOptions {
  position: fixed;
  right: 0;
  top: 25px;
  border-left: 1px solid #efefef;
  height: calc(100vh - 25px);
  width: 300px;
  z-index: 998;

  h3 {

  }

}

.ge-thumbnail {
  border: 1px solid #ddd;
  //width: 200px;
  height: 130px;
  position: fixed;
  bottom: 25px;
  left: 0;
}

.card {

  .card-header {
    background: #cccccc;
    padding: 4px 5px;

    h3 {
      margin: 5px 0 3px 0;
      font-size: 14px;
    }

    p {
      margin: 0;
      font-size: 12px;
      color: #565656;
    }
  }

  .card-body {
    padding: 5px;

    .singleProperty {
      border-bottom: 1px solid #efefef;
    }

    .singleProperty:last-child {
      border-bottom: none;
    }
  }


}
